.visible {
  width: 100%;
  height: 85vh;
}
.invisible {
  display: flex;
  width: 100%;
  height: 85vh;
  transform: translate(0, -85vh);
  transition: transform 800ms ease-in-out;
}
.tab {
  height: 100px;
  width: 50px;
  border-radius: 5px;
  border-width: 10px;
  border-color: black;
}
